<ion-view view-title="Chats">
  <ion-content>
    <ion-list ng-init="kots = [1,2,3,4,5,6,7,8]">
      <!--<ion-item 
      	class="item-remove-animate item-avatar item-icon-right" 
      	ng-repeat="chat in chats" 
        type="item-text-wrap" 
        href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>-->
      <ion-item 
      	class="item-remove-animate item-avatar item-icon-right" 
      	collection-repeat="chat in ::chats track by $index" 
        collection-item-width="'100%'"
        collection-item-height="70"
        type="item-text-wrap" 
        style="height: 70px; width:100%"
        href="#/tab/chats/{{::chat.id}}">
        <img ng-src="{{::chat.face}}">
        <h2>{{::chat.name}}</h2>
        <p>{{::chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
